<style>
    .container, .message_container {
        display: flex;
        flex-direction: column;
    }

    .message_form, .titlebar {
        display: flex;
        flex-direction: row;
    }

    .message_form {
        margin-top: auto;
    }

    .message_input {
        flex-grow: 1;
        margin-right: 10px;
        border-radius: 6px;
        border: 1px solid black;
        padding: 5px;
    }

    .message_submit, .start_pm_button, .pm_select {
        border: 1px solid black;
        padding: 5px;
        border-radius: 6px;
    }

    .pm_select {
        padding-right: 35px;
    }

    .titlebar_right {
        margin-left: auto;
    }

    .message {
        padding: 10px;
        border-radius: 6px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 90%;
        margin-bottom: 4px;
        overflow-wrap: break-word;
    }

    .message:last-child {
        margin-bottom: 0px;
    }

    .message_author {
        padding: 0px;
        font-size: 14px;
        font-weight: bold;
    }

    .<%= current_user.id %>_message {
        margin-left: auto;
        text-align: right;
        background: black;
        color: white;
    }

    .hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
    }
</style>


<div class="container">
    <div class="titlebar">
        <div class="titlebar_right">
            <%= form_with(model: Chatbuddy::PrivateGroup.new, remote: true) do |form| %>
                <%= form.select :pm_user_id, @pm_list, {}, class: "pm_select" %>
                <%= form.submit "Start private message", class: "start_pm_button" %>
            <% end %>
        </div>
    </div>

    <hr class="hr"/>

    <%= turbo_stream_from "chatbuddy_messages" %>
    <div class="message_container" id="chatbuddy_messages">
        <%= render @messages %>
    </div>

    <hr class="hr"/>

    <%= form_with(model: [@group, Chatbuddy::Message.new], remote: true, class: "message_form") do |form| %>
        <%= form.text_field :content, class: "message_input", autocomplete: "off", placeholder: "Message" %>
        <%= form.submit "Send", class: "message_submit" %>
    <% end %>
</div>